.footer {
    height: 45vh;
    width: 90vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}

.linkss {
    display: flex;
    flex-direction: row;
}

.sides {
    padding: 10px 20px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links {
    padding: 5px 5px;
}

.social-medias {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.medias-1, .medias-2, .medias-3, .medias-4, .medias-5{
    padding: 0px 20px;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 0;
    transition: all 0.25s ease-in;
}

.medias-1:hover {
    color: rgb(169, 51, 91);
    transform: translateY(-6px);
}

.medias-2:hover {
    color: red;
    transform: translateY(-6px);
}

.medias-3:hover {
    color: rgb(44, 113, 233);
    transform: translateY(-6px);
}

.medias-4:hover {
    color: blue;
    transform: translateY(-6px);
}

.cp-1 span{
    text-align: center;
    margin-top: 0;
    font-weight: 600;
    color: #1eab6b;
}